<header style="margin: 15px 0;">
    <nav style="display: flex; justify-content: space-between; align-items: center;">
        <a class="logo" href="/">
            <h2 style="margin: 0;">Home</h2>
        </a>
        <ul class="nav__links" style="margin: 0; list-style: none; padding: 0;">
            <li>
                <a href="/users" style="margin: 0 10px; text-decoration: none;">All Users</a>
                <a href="#" style="margin: 0 10px; text-decoration: none;">Services</a>
                <a href="#" style="margin: 0 10px; text-decoration: none;">Projects</a>
            </li>
        </ul>
        <div>
            <a href="/login" class="cta" style="margin: 0; text-decoration: none;">
                <button>Login</button>
            </a>
            <a href="/register" class="cta" style="margin: 0;">
                <button>Register</button>
            </a>
        </div>
    </nav>
    
</header>