<div class="container" style="max-width: 1170px; margin: auto;">
    <%- include('./header.ejs') %>
</div>

<div class="container" style="max-width: 1170px; margin: auto;">
    <div class="row" style="padding-top: 30px;"> 
        <table>
            <thead>
                <tr>
                    <th>
                        SR.Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>saad@gmail.com </td>
                    <td>9090909090</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>saad@gmail.com </td>
                    <td>9090909090</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    table tr th,table tr td {
        border: 1px solid black;
    }
</style>